@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montagu+Slab:wght@400;700&family=Poppins&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
}
/*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
.shadow1{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadow2{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.allison{
  font-family: 'Allison', cursive;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.montagu{
  font-family: 'Montagu Slab', serif;
}
.cardHighlight{
  min-height: 100%;
 
}
.light-blue-text{
 color: #506FA9;
}
.dark-blue-text{
  color: #0a2a61;
}
.dark-blue{
  background-color: #0a2a61;
}
.light-blue{
  background-color: #cfe3f7;
}

.black{
  background-color: #262626;
}
.l-blue{
  background-color:#c6e2ff;
}
.blue{
  background-color: #007BFF;
}
.text-blue{
  color: #007BFF;
}
.text-white{
  color: white;
}
.white{
  background-color: white;
}
.light-beige{
  background-color: #EDEBE8;
}
.dark-beige{
  background-color: #E4E1DC;}
/*HOME PAGE--------------------*/

.rotate{
animation: spin 15s ease-in-out infinite;
}
.landing-page{max-width: 100%;}
@keyframes spin {
  100% { transform: rotate(360deg); }
}
@media screen and (min-width: 1200px){
  .rating-text{font-size: 70px;}
  .product-name{font-size: 120px;}
  .footer-text-title{font-size: 80px;}
  .footer-text-subt{font-size: 20px; opacity: .5;}
  .subscribe{font-size: 35px;}
}
@media screen and (min-width: 900px) and (max-width: 1199px){
  .product-name{font-size: 120px;}
  .footer-text-title{font-size: 80px;}
  .footer-text-subt{font-size: 20px; opacity: .5;}
  .subscribe{font-size: 35px;}
  .rating-text{font-size: 50px;}
}
@media screen and (min-width: 510px) and (max-width: 899px){
  .product-name{font-size: 90px;}
  .footer-text-title{font-size: 50px;}
  .footer-text-subt{font-size: 16px; opacity: .5;}
   .rating-text{font-size: 30px;}
}

@media screen and (min-width: 367px) and (max-width: 509px){
  .product-name{font-size: 50px;}
  .footer-text-title{font-size: 35px;}
  .footer-text-subt{font-size: 13px; opacity: .5;}
}
@media screen and (max-width: 366px){
  .product-name{font-size: 45px;}
  .footer-text-title{font-size: 30px;}
  .footer-text-subt{font-size: 8px; opacity: .5;}
  .subscribe{font-size: 12px;}
}

.home-link{
  padding-top: 44px;
  color: white;
}
@media screen and (min-width: 381px){
.landingpage-bg1{
background-color: #0a2a61;
background-image: url(./images/hp-bg-lg.jpg);
background-position: center bottom;
background-repeat: no-repeat;
background-size: fit;
}
}
@media screen and (max-width: 380px){
 .landingpage-bg1{
background-color: #0a2a61;
background-image: url(./images/hp-bg-sm.jpg);
background-position: center bottom;
background-repeat: no-repeat;
background-size: 380px;
}
}

.home-link:hover{color: #007BFF;cursor: pointer;}
.footer-link:hover{ color: #007BFF; cursor: pointer;}
.footer-text{
  z-index: 9;
}
.opacity-none{opacity: 0;}
.green:hover .green-con, .black1:hover .black-con, .fruit:hover .fruit-con, .herbal:hover .herbal-con{opacity: 1; cursor: pointer;}

.green:hover .prod, .black1:hover .prod, .fruit:hover .prod, .herbal:hover .prod{animation: scale .3s ease-in forwards;}
@keyframes scale {
  100%{transform: scale(1.2) rotate(3deg);}
}
.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*PRODUCT- CARD-----------------*/
.add-button{
  border-radius: 0px;
  background-color:#007BFF;
  color: white;
  cursor: pointer;
  transition: border-radius ease 0.5;
}
.added-button{
  border-radius: 0px;
  background-color:#007BFF;
  color: white;
}

.add-button:hover, .button-effect:hover{
  border-radius: 10px;
  background-color:white;
  color: #007BFF;
  border: #007BFF solid 2px;
}

.button-effect:hover{
  border-radius: 10px;
  background-color:white;
  color: #007BFF;
  border: #007BFF solid 2px;
}
.deactivated{
  border-radius: 0px;
  background-color:#165293;
  color: white;
  cursor: pointer;
}

.add-button:active{
  border-radius: 10px;
  background-color:white;
  color: #007BFF;
  border: #007BFF solid 2px;

}

.item1{
  border: #007BFF solid 2px;
  border-left: none;
  border-right: none;
  font-size: 20px;
  width: 35px;
/*  width: 25%;*/

}
.item2{
  border: #007BFF solid 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 27px;
}

.item2:hover{
background-color: #007BFF;
color: white;}

.product-img-small{
  height: 25px;
  width: 35px}



.zoom-out:hover{
  animation: zoom ease-in-out .4s;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  100%{transform: scale(.9) rotate(4deg);}
}
/*PRODUCT:  ADD REVIEW----------------------*/
.add-review-bg{
  background-image: url("./images/add-review-bg.png");
  background-color:#0a2a61;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 400px;
}
/*PRODUCTS-----------------*/
.header{
background-image: url("./images/bg1.jpg");
background-color: #007bff;
background-repeat: no-repeat;
background-position: center;
}

.texthover:hover{
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}

.add-product{
  width: 70px;
  height: 70px;
  float: right;
  font-size: 40px;
  color: white;
}
.add-icon{
vertical-align: text-top;}

/*SIGN UP-----------------*/

.form-control{
background-color: #c6e2ff;

border-bottom: #007BFF solid 2px;
}

.form-control:focus{
background-color: white;

color:blue;}
.vl-blue{
  background-color: #e2ebf4;
}
.placeholder{
border-bottom: #007BFF solid 3px;
}
/*LOG in-----------------*/
.login{
background-image: url(./images/login-bg.jpg);
background-position: right bottom;
background-repeat: no-repeat;
background-position: center bottom;
background-size: contain;
}
.login-form, .center{
margin: 0 auto;}

.text-register{
  color: #A34546;
}
.text-register:hover{
 color: black;
}
/*ADMIN--------------------*/
@media screen and (max-width: 509px)  {
.admin-dashboard-number{
  font-size: 50px;
}

}
@media screen and (min-width: 510px) and (max-width: 767px){
.admin-dashboard-number{
  font-size: 80px;}
  }
@media screen and (min-width: 767px){
.admin-dashboard-number{
  font-size: 90px;}
  }
  /*CART FOOTER----------*/

  /*PRODUCT VIEW-------*/
  .go-back:hover {
   margin-right: 20px;
    cursor: pointer;
  }

  .product-view-bg{
  background-color: #003267;
  background-image: url(./images/bg2.jpg);
  background-position:left top;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .product-bg{
      background-color: #003267
  }
  .status-text{
    font-size: 15px;

  }
/*USER DASHBOARD-------------------------------------------*/
.sub-link{
  color: white;
}
.sub-link:hover{
  color:#007BFF;
  background-color: white;
  border: #007BFF 1px solid;
  cursor: pointer;
}

.user-icons{
  font-size: 40px;
  color: #124e8e;
}
.user-icons:hover{
  color: #007BFF;
 cursor: pointer;
 transform: translateY(-6px);
}
.name{
/*position: absolute;*/
margin-top: -10px;
}
.oblique {
  font-style: oblique;
}
@media screen and (max-width: 570px){
.hide{display: none;}
.name{font-size: 40px;}
.user-icons{  font-size: 15px;}
  }
.user-bg{
  background-color: #003267;
}
.container-right{
  overflow-y: scroll;
  height: 500px;
}
/*admin dashboard------------------*/
.count{
  font-size: 80px;
}
/*-------ERROR PAGE-------------*/
.updated{
  border-radius: 0px;
  background-color:#0a2a61;
  color: white;
  cursor: pointer;


}
/*HOME PAGE---------------*/

.homepage-bg{
background-color: #0a2a61;
background-image: url(./images/homepage.jpg);
background-position: right bottom;
background-repeat: no-repeat;
background-size: cover;
}


/*ADD PRODUCT BACKGROUND*/
.addproduct-bg{
background-image: url(./images/addproduct-bg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
.updateproduct-bg{
background-image: url(./images/addproduct-bg.jpg);
background-position: center center;
background-repeat: repeat;
background-size: cover;
}